<!-- Loop over each object in the projects array -->
{{#each blogPosts as |blogPost|}}
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="card-title"><a href="/blogPost/{{blogPost.id}}" class="no-underline">{{blogPost.title}}</a></h5>
    </div>
    <div class="card-body">
      <p class="card-text">{{blogPost.description}}</p>
      <p class="card-text"><small class="text-muted">Created by {{blogPost.user.name}} on {{format_date blogPost.dateCreated}}</small></p>
    </div>
  </div>
{{/each}}
