<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="col-md-6">
  <h3>Add Post</h3>

  <form class="form new-project-form">
    <div class="form-group">
      <label for="project-name">Title:</label>
      <input class="form-input" type="text" id="project-name" name="project-name" />
    </div>
    <div class="form-group">
      <label for="project-desc">Description:</label>
      <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>

{{#if blogPosts.length}}
<div class="col-md-6 project-list">
  <h3>Your Posts:</h3>

  {{#each blogPosts as |blogPost|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <a href="/blogPost/{{blogPost.id}}">{{blogPost.title}}</a>
      </h2>
      <p>Created by {{blogPost.user.name}} on {{format_date blogPost.dateCreated}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{blogPost.description}}
      </p>
    </div>
    <div class="col-md-4">
      <button class="delete-btn btn btn-sm btn-danger" data-id="{{blogPost.id}}">Delete</button>
    </div>
    <div class="col-md-4">
      <button class="edit-btn btn btn-sm btn-danger" data-id="{{blogPost.id}}" data-title="{{blogPost.title}}" data-description="{{blogPost.description}}">Edit</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="edit-form">
          <input type="text" id="edit-title" class="form-control" placeholder="Title" />
          <textarea id="edit-content" class="form-control mt-2" placeholder="Content"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-changes">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="./js/profile.js"></script>
<script src="./js/editButton.js"></script> 
